@model IEnumerable<ASP_.NET_Core.Models.Curso>

@{
    ViewData["Title"] = "Informaci贸n de Cursos";
}

<h1>Informaci贸n de Cursos</h1>

<p>
    <a asp-action="Create">Crear nuevo curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jornada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direcci贸n)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escuela)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jornada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direcci贸n)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escuela.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<input onclick="document.location.href='Escuela'" type="button" value="Regresar >>" class="btn btn-primary btn-lg" />